## QUESTÃO 01
Em um concurso público foram contabilizados os números de pessoas inscritas (até a data inicialmente estabelecida para a inscrição) segundo os níveis de escolaridade: fundamental completo, médio completo, superior completo e pós-graduação completa. Segue abaixo a tabela com os valores observados.

<pre><h4>Nível de escolaridade             Inscritos<h4/>
Fundamental completo	451
Médio completo	627
Superior completo	292
Pós-graduação completa	95<pre/><br>
Com base na tabela acima, crie uma Series com esses valores e calcule:

<h3><span style="color: gray">(a) O número total de inscritos

(b) Número inscritos que possuem, pelo menos, o superior completo.

(c) Suponha que a inscrição foi prorrogada e, com isso, foi obtido um número adicional de inscrições: 68, 93, 22 e 0 inscritos a mais em cada uma das categorias de escolaridade apresentados na tabela acima (na mesma ordem). Assim, crie uma nova Series com esses valores.

(d) Utilizando as duas Series que você tem, calcule o número total de inscritos após a prorrogação do período de inscrições.<span/><h3/>

#### A) O número total de inscritos

In [1]:
# A)
import pandas as pd
import numpy as np

df = pd.Series([451, 627, 292, 95], index = ["Fundamental completo","Médio completo", "Superior completo","Pós-graduação completa"])
print(f'{df}')
print('=' * 30)
print(f'O número total de inscritos é:\n>>>>>  {df.sum()}  <<<<<')

Fundamental completo      451
Médio completo            627
Superior completo         292
Pós-graduação completa     95
dtype: int64
==============================
O número total de inscritos é:
>>>>>  1465  <<<<<

#### B)  Número inscritos que possuem, pelo menos, o superior completo.

In [2]:
# B)
df_ = pd.Series([df[2],df[3]])
print(f'O número total de inscritos com superior é:\n>>>>>  {df_.sum()}  <<<<<')

O número total de inscritos com superior é:
>>>>>  387  <<<<<

#### C) Suponha que a inscrição foi prorrogada e, com isso, foi obtido um número adicional de inscrições: 68, 93, 22 e 0 inscritos a mais em cada uma das categorias de escolaridade apresentados na tabela acima (na mesma ordem). Assim, crie uma nova Series com esses valores.

In [3]:
# C)
print(f'As inscrições sem a prorrogação é:\n{df}')
print('=' * 40)
df_2 = df.copy()
df_2[0] = 68 
df_2[1] = 93
df_2[2] = 22
df_2[3] = 0

print(f'As inscrições com a prorrogação é:\n{df_2}')

As inscrições sem a prorrogação é:
Fundamental completo      451
Médio completo            627
Superior completo         292
Pós-graduação completa     95
dtype: int64
========================================
As inscrições com a prorrogação é:
Fundamental completo      68
Médio completo            93
Superior completo         22
Pós-graduação completa     0
dtype: int64

#### D) Utilizando as duas Series que você tem, calcule o número total de inscritos após a prorrogação do período de inscrições.

In [4]:
# D)
print(f'A soma final dos inscritos é:\n   >>>>>   {df.sum() + df_2.sum()}   <<<<<')

A soma final dos inscritos é:
   >>>>>   1648   <<<<<

## QUESTÃO 02
Uma turma de cinco alunos foi submetida a uma avaliação e a nota de cada um dos alunos é apresentada na tabela abaixo:

<pre><h4> Nome do Aluno	Nota<h4/>
          Wilfred         2
          Abbie           7
          Harry           5.5
          Julia            10
          Carrie          6.2<pre/><br/>
<h3><span style="color: gray">(a) Crie uma Series com os valores da tabela acima.

(b) Retorne o número de alunos que foram aprovados (considerando que a nota mínima para a aprovação é 7).

(c) Qual foi a nota média da turma.

(d) Obtenha o nome dos alunos que tiraram notas acima da média da turma.<span/><h3/>

#### A) Crie uma Series com os valores da tabela acima.

In [5]:
# A)
import pandas as pd
import numpy as np

df_3 = pd.Series([2, 7, 5.5, 10, 6.2], index = ["Wilfred", "Abbie", "Harry", "Julia", "Carrie"])
print(df_3)

Wilfred     2.0
Abbie       7.0
Harry       5.5
Julia      10.0
Carrie      6.2
dtype: float64

#### B) Retorne o número de alunos que foram aprovados (considerando que a nota mínima para a aprovação é 7).

In [6]:
# B)
df_4 = df_3.copy()
soma = 0
for i in df_4:
    if i >= 7:
        soma += 1

print(f'A quantidade de alunos aprovados é:\n      >>>>>  {soma}  <<<<<')

A quantidade de alunos aprovados é:
      >>>>>  2  <<<<<

#### C) Qual foi a nota média da turma.

In [7]:
# C)
print(f'A média da turma foi:\n>>>>>  {df_3.mean()}  <<<<<')

A média da turma foi:
>>>>>  6.14  <<<<<

#### D) Obtenha o nome dos alunos que tiraram notas acima da média da turma.

In [8]:
# D)
print('Os alunos acima da média são:')
cont = 0
for v in np.ndenumerate(df_3):
    if v[1] >= 7:
         print(f'===> {df_3.index[cont]}')
    cont += 1

Os alunos acima da média são:
===> Abbie
===> Julia

## QUESTÃO 03
Crie um objeto DataFrame que contenha os dados da tabela abaixo, os quais se referem ao peso, altura e idade de cinco pessoas:

<pre><h4>Peso (kg)	Altura (cm)	Idade<h4/>
          72	      180	      31
          80	      170	      21
          60	      175	      16
          90	      174	      28
         100	     185	      23<pre/>
Com base no DataFrame criado, realize o que pedido nos itens abaixo:

<h3><span style="color: gray">(a) Visualize apenas os dados da coluna que contém a altura das pessoas.

(b) Obtenha a idade média das pessoas.

(c) Obtenha os dados das pessoas que estão abaixo da altura média.

(d) Crie um nova coluna no DataFrame que contenha o IMC (Índice de Massa Corporal) de cada pessoa.

(e) Remova a coluna que contém a idade das pessoas.

(f) Salve esses dados do DataFrame em um arquivo csv.</span><h3/>

In [9]:
# Criando o DataFrame
import pandas as pd
import numpy as np
lst1 = [72, 80, 60, 90, 100]
lst2 = [180, 170, 175, 174, 185]
lst3 = [31, 21, 16, 28, 23]
                                                    
                         
df_03 = pd.DataFrame(list(zip(lst1,lst2, lst3)), columns = ["Peso (kg)", "Altura (cm)", "Idade"])
df_03

   Peso (kg)  Altura (cm)  Idade
0         72          180     31
1         80          170     21
2         60          175     16
3         90          174     28
4        100          185     23

#### A) Visualize apenas os dados da coluna que contém a altura das pessoas.

In [10]:
# A)
print(f'{df_03["Altura (cm)"]}')

0    180
1    170
2    175
3    174
4    185
Name: Altura (cm), dtype: int64

#### B) Obtenha a idade média das pessoas.

In [11]:
# B)
display(df_03["Idade"].mean())

23.8

#### C) Obtenha os dados das pessoas que estão abaixo da altura média.

In [12]:
# C) Baseando-se na altura média masculina brasileira de 1,75
a = df_03[df_03["Altura (cm)"] <= 175]

display(a)

   Peso (kg)  Altura (cm)  Idade
1         80          170     21
2         60          175     16
3         90          174     28

#### D) Crie um nova coluna no DataFrame que contenha o IMC (Índice de Massa Corporal) de cada pessoa.

In [88]:
# D)

imc_n = []
def imc(peso, altura):
    altura_ = altura / 100
    r = peso / (altura_**2)
    imc_n.append(r)
    return imc_n

imc_p = []
imc_a = []
for i in np.ndenumerate(df_03):
    if i[0][1] == 0:
        imc_p.append(i[1])
    if i[0][1] == 1:
        imc_a.append(i[1])

for i in range(0, 5):
    imc(imc_p[i], imc_a[i])

df_03['IMC'] = imc_n
display(df_03)

   Peso (kg)  Altura (cm)        IMC
0         72          180  22.222222
1         80          170  27.681661
2         60          175  19.591837
3         90          174  29.726516
4        100          185  29.218408

#### E) Remova a coluna que contém a idade das pessoas.

In [87]:
del df_03["Idade"]
display(df_03)

   Peso (kg)  Altura (cm)        IMC
0         72          180  22.222222
1         80          170  27.681661
2         60          175  19.591837
3         90          174  29.726516
4        100          185  29.218408

## QUESTÃO 04

Carregue, em um objeto DataFrame, o arquivo CSV que você salvou no item (f) da questão anterior. Em seguida,

<pre><h3><span style="color: gray">
(a) Crie uma nova coluna que contenha o nome das pessoas (sinta-se à vontade para atribuir os nomes que preferir).

(b) Defina a nova coluna criada (com os nomes) como o índice (index) do seu DataFrame.

(c) Obtenha o nome das pessoas que são classificadas com Sobrepeso (IMC entre 25 e 29,9).</span><h3/><pre/>

## QUESTÃO 05
Carregue, em um objeto DataFrame, o mesmo dataset que você salvou na Questão 3. Em seguida,
______
<h3><span style="color: gray">(a) Adicione uma nova coluna nesse DF chamada Classificação, que contenha a classificação de cada indivíduo, de acordo com o seu IMC. Para isso, consulte a tabela abaixo.<span/><h3/>

<pre>IMC	                        Classificação	      Obesidade   (grau)
Menor que 18,5	              Magreza	              0
Entre 18,5 e 24,9	           Normal	               0
Entre 25,0 e 29,9	           Sobrepeso	            I
Entre 30,0 e 39,9	           Obesidade	            II
Maior que 40,0	              Obesidade Grave	      III<pre/>

<h3><span style="color: gray">(b) Salve em DataFrame no formato xlsx.<span/><h3/>